audio {
   
    background-color: black;
    width:80vh;
    margin-top: 20;
    color: aliceblue;
   
  }
  
  /* Customize the appearance of the audio controls */
  audio::-webkit-media-controls {
    background-color: black;
    /* Change control icons color */
    color: rgb(253, 254, 255);
}

/* Customize the appearance of the audio player bar */
audio::-webkit-media-controls-panel {
    background-color: rgb(12, 10, 10);
    color: rgb(253, 254, 255);
   
  }

  audio::-webkit-media-controls-timeline {
    background-color: rgb(7, 0, 0); 
    /* Change progress bar color */
    color: rgb(245, 244, 244);
    height: 2;
  }

  audio::-webkit-media-controls {
    background-color: black;
    color: white; /* Change control icons color */
  }
  
  /* Customize the appearance of the volume control */
  input[type="range"] {
    -webkit-appearance: none;
    width: 60%;
    height: 6px;
    background-color: #e7dada; /* Change the color of the slider track */
    border-radius: 5px;
    
   margin-top: 9px; 
  }
 
  input[type="range"]:hover {
    -webkit-appearance: none;
    width: 60%;
    height: 6px;
    background-color: #317e31; /* Change the color of the slider track */
    border-radius: 5px;
    margin-top: 9px; 
    color: #ffffff;
  }
  input[type="range"]:focus {
    outline: none;
  }
  
  input[type="range"]:hover:-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    background-color: #ffffff; /* Change the color of the slider thumb */
    border-radius: 50%;
    cursor: pointer;
    color: #ffffff;
  }
  
  input[type="range"]::-moz-range-thumb {
    width: 15px;
    height: 15px;
    background-color: #ffffff; /* Change the color of the slider thumb for Firefox */
    border-radius: 50%;
    cursor: pointer;
    display: none;
  }

  input[type="range"]::-moz-range-thumb {
    width: 15px;
    height: 15px;
    background-color: transparent; /* Make the thumb transparent by default for Firefox */
    border:none;
    cursor: pointer;
  }

  input[type="range"]:hover::-moz-range-thumb {
    background-color: #ffffff; /* Change the color of the thumb on hover for Firefox */
  }


.custom-audio-controls::-webkit-media-controls-volume-slider
 {
   display: none;
}
  